PORT="" 				# Provide a value for PORT
ENV="" 				# Provide a value for ENV

DATABASE_URL="" 				# Provide a value for DATABASE_URL
# DATABASE_URL=postgresql://postgres:postgres@host.docker.internal:5432/indexing
