version: "3.9"

services:
  db:
    image: postgres:16
    container_name: devops-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: indexing
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    container_name: devops-app
    command: bun run dev
    ports:
      - "8001:8001"
    depends_on:
      - db
    env_file:
      - .env
    # environment:
    #   DATABASE_URL: postgresql://postgres:postgres@db:5432/indexing
    volumes:
      - .:/app

volumes:
  pgdata:
